<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wetech.ryutsumodel.model.mapper.TmhanyoMapper">
  <resultMap id="BaseResultMap" type="com.wetech.ryutsumodel.model.entity.Tmhanyo">
    <!--@mbg.generated-->
    <!--@Table tmhanyo-->
    <id column="bunrui_cod" jdbcType="VARCHAR" property="bunruiCod" />
    <id column="kbn1" jdbcType="CHAR" property="kbn1" />
    <id column="kbn2" jdbcType="CHAR" property="kbn2" />
    <id column="tekiyostr_ymd" jdbcType="DATE" property="tekiyostrYmd" />
    <result column="kbn_knj1" jdbcType="VARCHAR" property="kbnKnj1" />
    <result column="kbn_knj2" jdbcType="VARCHAR" property="kbnKnj2" />
    <result column="str1" jdbcType="VARCHAR" property="str1" />
    <result column="str2" jdbcType="VARCHAR" property="str2" />
    <result column="str3" jdbcType="VARCHAR" property="str3" />
    <result column="num1" jdbcType="INTEGER" property="num1" />
    <result column="num2" jdbcType="INTEGER" property="num2" />
    <result column="num3" jdbcType="INTEGER" property="num3" />
    <result column="num_shosuari1" jdbcType="DECIMAL" property="numShosuari1" />
    <result column="num_shosuari2" jdbcType="DECIMAL" property="numShosuari2" />
    <result column="num_shosuari3" jdbcType="DECIMAL" property="numShosuari3" />
    <result column="hyojijun1" jdbcType="INTEGER" property="hyojijun1" />
    <result column="hyojijun2" jdbcType="INTEGER" property="hyojijun2" />
    <result column="hyojijun3" jdbcType="INTEGER" property="hyojijun3" />
    <result column="hanyo_biko" jdbcType="VARCHAR" property="hanyoBiko" />
    <result column="tekiyoend_ymd" jdbcType="DATE" property="tekiyoendYmd" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="crt_ymdhms" jdbcType="TIMESTAMP" property="crtYmdhms" />
    <result column="crtshain_cod" jdbcType="CHAR" property="crtshainCod" />
    <result column="crt_func_id" jdbcType="VARCHAR" property="crtFuncId" />
    <result column="upd_ymdhms" jdbcType="TIMESTAMP" property="updYmdhms" />
    <result column="updshain_cod" jdbcType="CHAR" property="updshainCod" />
    <result column="upd_func_id" jdbcType="VARCHAR" property="updFuncId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Sep 18 16:27:33 CST 2022.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Sep 18 16:27:33 CST 2022.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    bunrui_cod, kbn1, kbn2, tekiyostr_ymd, kbn_knj1, kbn_knj2, str1, str2, str3, num1, 
    num2, num3, num_shosuari1, num_shosuari2, num_shosuari3, hyojijun1, hyojijun2, hyojijun3, 
    hanyo_biko, tekiyoend_ymd, version, crt_ymdhms, crtshain_cod, crt_func_id, upd_ymdhms, 
    updshain_cod, upd_func_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tmhanyo
    where bunrui_cod = #{bunruiCod,jdbcType=VARCHAR}
      and kbn1 = #{kbn1,jdbcType=CHAR}
      and kbn2 = #{kbn2,jdbcType=CHAR}
      and tekiyostr_ymd = #{tekiyostrYmd,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from tmhanyo
    where bunrui_cod = #{bunruiCod,jdbcType=VARCHAR}
      and kbn1 = #{kbn1,jdbcType=CHAR}
      and kbn2 = #{kbn2,jdbcType=CHAR}
      and tekiyostr_ymd = #{tekiyostrYmd,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.wetech.ryutsumodel.model.entity.Tmhanyo">
    <!--@mbg.generated-->
    insert into tmhanyo (bunrui_cod, kbn1, kbn2, 
      tekiyostr_ymd, kbn_knj1, kbn_knj2, 
      str1, str2, str3, num1, 
      num2, num3, num_shosuari1, 
      num_shosuari2, num_shosuari3, hyojijun1, 
      hyojijun2, hyojijun3, hanyo_biko, 
      tekiyoend_ymd, version, crt_ymdhms, 
      crtshain_cod, crt_func_id, upd_ymdhms, 
      updshain_cod, upd_func_id)
    values (#{bunruiCod,jdbcType=VARCHAR}, #{kbn1,jdbcType=CHAR}, #{kbn2,jdbcType=CHAR}, 
      #{tekiyostrYmd,jdbcType=DATE}, #{kbnKnj1,jdbcType=VARCHAR}, #{kbnKnj2,jdbcType=VARCHAR}, 
      #{str1,jdbcType=VARCHAR}, #{str2,jdbcType=VARCHAR}, #{str3,jdbcType=VARCHAR}, #{num1,jdbcType=INTEGER}, 
      #{num2,jdbcType=INTEGER}, #{num3,jdbcType=INTEGER}, #{numShosuari1,jdbcType=DECIMAL}, 
      #{numShosuari2,jdbcType=DECIMAL}, #{numShosuari3,jdbcType=DECIMAL}, #{hyojijun1,jdbcType=INTEGER}, 
      #{hyojijun2,jdbcType=INTEGER}, #{hyojijun3,jdbcType=INTEGER}, #{hanyoBiko,jdbcType=VARCHAR}, 
      #{tekiyoendYmd,jdbcType=DATE}, #{version,jdbcType=INTEGER}, #{crtYmdhms,jdbcType=TIMESTAMP}, 
      #{crtshainCod,jdbcType=CHAR}, #{crtFuncId,jdbcType=VARCHAR}, #{updYmdhms,jdbcType=TIMESTAMP}, 
      #{updshainCod,jdbcType=CHAR}, #{updFuncId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wetech.ryutsumodel.model.entity.Tmhanyo">
    <!--@mbg.generated-->
    insert into tmhanyo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bunruiCod != null">
        bunrui_cod,
      </if>
      <if test="kbn1 != null">
        kbn1,
      </if>
      <if test="kbn2 != null">
        kbn2,
      </if>
      <if test="tekiyostrYmd != null">
        tekiyostr_ymd,
      </if>
      <if test="kbnKnj1 != null">
        kbn_knj1,
      </if>
      <if test="kbnKnj2 != null">
        kbn_knj2,
      </if>
      <if test="str1 != null">
        str1,
      </if>
      <if test="str2 != null">
        str2,
      </if>
      <if test="str3 != null">
        str3,
      </if>
      <if test="num1 != null">
        num1,
      </if>
      <if test="num2 != null">
        num2,
      </if>
      <if test="num3 != null">
        num3,
      </if>
      <if test="numShosuari1 != null">
        num_shosuari1,
      </if>
      <if test="numShosuari2 != null">
        num_shosuari2,
      </if>
      <if test="numShosuari3 != null">
        num_shosuari3,
      </if>
      <if test="hyojijun1 != null">
        hyojijun1,
      </if>
      <if test="hyojijun2 != null">
        hyojijun2,
      </if>
      <if test="hyojijun3 != null">
        hyojijun3,
      </if>
      <if test="hanyoBiko != null">
        hanyo_biko,
      </if>
      <if test="tekiyoendYmd != null">
        tekiyoend_ymd,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="crtYmdhms != null">
        crt_ymdhms,
      </if>
      <if test="crtshainCod != null">
        crtshain_cod,
      </if>
      <if test="crtFuncId != null">
        crt_func_id,
      </if>
      <if test="updYmdhms != null">
        upd_ymdhms,
      </if>
      <if test="updshainCod != null">
        updshain_cod,
      </if>
      <if test="updFuncId != null">
        upd_func_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bunruiCod != null">
        #{bunruiCod,jdbcType=VARCHAR},
      </if>
      <if test="kbn1 != null">
        #{kbn1,jdbcType=CHAR},
      </if>
      <if test="kbn2 != null">
        #{kbn2,jdbcType=CHAR},
      </if>
      <if test="tekiyostrYmd != null">
        #{tekiyostrYmd,jdbcType=DATE},
      </if>
      <if test="kbnKnj1 != null">
        #{kbnKnj1,jdbcType=VARCHAR},
      </if>
      <if test="kbnKnj2 != null">
        #{kbnKnj2,jdbcType=VARCHAR},
      </if>
      <if test="str1 != null">
        #{str1,jdbcType=VARCHAR},
      </if>
      <if test="str2 != null">
        #{str2,jdbcType=VARCHAR},
      </if>
      <if test="str3 != null">
        #{str3,jdbcType=VARCHAR},
      </if>
      <if test="num1 != null">
        #{num1,jdbcType=INTEGER},
      </if>
      <if test="num2 != null">
        #{num2,jdbcType=INTEGER},
      </if>
      <if test="num3 != null">
        #{num3,jdbcType=INTEGER},
      </if>
      <if test="numShosuari1 != null">
        #{numShosuari1,jdbcType=DECIMAL},
      </if>
      <if test="numShosuari2 != null">
        #{numShosuari2,jdbcType=DECIMAL},
      </if>
      <if test="numShosuari3 != null">
        #{numShosuari3,jdbcType=DECIMAL},
      </if>
      <if test="hyojijun1 != null">
        #{hyojijun1,jdbcType=INTEGER},
      </if>
      <if test="hyojijun2 != null">
        #{hyojijun2,jdbcType=INTEGER},
      </if>
      <if test="hyojijun3 != null">
        #{hyojijun3,jdbcType=INTEGER},
      </if>
      <if test="hanyoBiko != null">
        #{hanyoBiko,jdbcType=VARCHAR},
      </if>
      <if test="tekiyoendYmd != null">
        #{tekiyoendYmd,jdbcType=DATE},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="crtYmdhms != null">
        #{crtYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="crtshainCod != null">
        #{crtshainCod,jdbcType=CHAR},
      </if>
      <if test="crtFuncId != null">
        #{crtFuncId,jdbcType=VARCHAR},
      </if>
      <if test="updYmdhms != null">
        #{updYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updshainCod != null">
        #{updshainCod,jdbcType=CHAR},
      </if>
      <if test="updFuncId != null">
        #{updFuncId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wetech.ryutsumodel.model.entity.Tmhanyo">
    <!--@mbg.generated-->
    update tmhanyo
    <set>
      <if test="kbnKnj1 != null">
        kbn_knj1 = #{kbnKnj1,jdbcType=VARCHAR},
      </if>
      <if test="kbnKnj2 != null">
        kbn_knj2 = #{kbnKnj2,jdbcType=VARCHAR},
      </if>
      <if test="str1 != null">
        str1 = #{str1,jdbcType=VARCHAR},
      </if>
      <if test="str2 != null">
        str2 = #{str2,jdbcType=VARCHAR},
      </if>
      <if test="str3 != null">
        str3 = #{str3,jdbcType=VARCHAR},
      </if>
      <if test="num1 != null">
        num1 = #{num1,jdbcType=INTEGER},
      </if>
      <if test="num2 != null">
        num2 = #{num2,jdbcType=INTEGER},
      </if>
      <if test="num3 != null">
        num3 = #{num3,jdbcType=INTEGER},
      </if>
      <if test="numShosuari1 != null">
        num_shosuari1 = #{numShosuari1,jdbcType=DECIMAL},
      </if>
      <if test="numShosuari2 != null">
        num_shosuari2 = #{numShosuari2,jdbcType=DECIMAL},
      </if>
      <if test="numShosuari3 != null">
        num_shosuari3 = #{numShosuari3,jdbcType=DECIMAL},
      </if>
      <if test="hyojijun1 != null">
        hyojijun1 = #{hyojijun1,jdbcType=INTEGER},
      </if>
      <if test="hyojijun2 != null">
        hyojijun2 = #{hyojijun2,jdbcType=INTEGER},
      </if>
      <if test="hyojijun3 != null">
        hyojijun3 = #{hyojijun3,jdbcType=INTEGER},
      </if>
      <if test="hanyoBiko != null">
        hanyo_biko = #{hanyoBiko,jdbcType=VARCHAR},
      </if>
      <if test="tekiyoendYmd != null">
        tekiyoend_ymd = #{tekiyoendYmd,jdbcType=DATE},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="crtYmdhms != null">
        crt_ymdhms = #{crtYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="crtshainCod != null">
        crtshain_cod = #{crtshainCod,jdbcType=CHAR},
      </if>
      <if test="crtFuncId != null">
        crt_func_id = #{crtFuncId,jdbcType=VARCHAR},
      </if>
      <if test="updYmdhms != null">
        upd_ymdhms = #{updYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updshainCod != null">
        updshain_cod = #{updshainCod,jdbcType=CHAR},
      </if>
      <if test="updFuncId != null">
        upd_func_id = #{updFuncId,jdbcType=VARCHAR},
      </if>
    </set>
    where bunrui_cod = #{bunruiCod,jdbcType=VARCHAR}
      and kbn1 = #{kbn1,jdbcType=CHAR}
      and kbn2 = #{kbn2,jdbcType=CHAR}
      and tekiyostr_ymd = #{tekiyostrYmd,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wetech.ryutsumodel.model.entity.Tmhanyo">
    <!--@mbg.generated-->
    update tmhanyo
    set kbn_knj1 = #{kbnKnj1,jdbcType=VARCHAR},
      kbn_knj2 = #{kbnKnj2,jdbcType=VARCHAR},
      str1 = #{str1,jdbcType=VARCHAR},
      str2 = #{str2,jdbcType=VARCHAR},
      str3 = #{str3,jdbcType=VARCHAR},
      num1 = #{num1,jdbcType=INTEGER},
      num2 = #{num2,jdbcType=INTEGER},
      num3 = #{num3,jdbcType=INTEGER},
      num_shosuari1 = #{numShosuari1,jdbcType=DECIMAL},
      num_shosuari2 = #{numShosuari2,jdbcType=DECIMAL},
      num_shosuari3 = #{numShosuari3,jdbcType=DECIMAL},
      hyojijun1 = #{hyojijun1,jdbcType=INTEGER},
      hyojijun2 = #{hyojijun2,jdbcType=INTEGER},
      hyojijun3 = #{hyojijun3,jdbcType=INTEGER},
      hanyo_biko = #{hanyoBiko,jdbcType=VARCHAR},
      tekiyoend_ymd = #{tekiyoendYmd,jdbcType=DATE},
      version = #{version,jdbcType=INTEGER},
      crt_ymdhms = #{crtYmdhms,jdbcType=TIMESTAMP},
      crtshain_cod = #{crtshainCod,jdbcType=CHAR},
      crt_func_id = #{crtFuncId,jdbcType=VARCHAR},
      upd_ymdhms = #{updYmdhms,jdbcType=TIMESTAMP},
      updshain_cod = #{updshainCod,jdbcType=CHAR},
      upd_func_id = #{updFuncId,jdbcType=VARCHAR}
    where bunrui_cod = #{bunruiCod,jdbcType=VARCHAR}
      and kbn1 = #{kbn1,jdbcType=CHAR}
      and kbn2 = #{kbn2,jdbcType=CHAR}
      and tekiyostr_ymd = #{tekiyostrYmd,jdbcType=DATE}
  </update>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wetech.ryutsumodel.model.entity.TmhanyoExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tmhanyo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    </select>

  <select id="test" resultType="java.lang.String">
    select
        kbn1
    from
      tmhanyo
    where
      kbn2 = 4 and 1=1
  </select>


</mapper>