<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wetech.ryutsumodel.model.mapper.TmmtenshoMapper">
  <resultMap id="BaseResultMap" type="com.wetech.ryutsumodel.model.entity.Tmmtensho">
    <!--@mbg.generated-->
    <!--@Table tmmtensho-->
    <id column="comtennm1_kna" jdbcType="VARCHAR" property="comtennm1Kna" />
    <id column="comtekiyostr_ymd" jdbcType="DATE" property="comtekiyostrYmd" />
    <result column="comten_cod" jdbcType="CHAR" property="comtenCod" />
    <result column="comnaigai_kbn" jdbcType="SMALLINT" property="comnaigaiKbn" />
    <result column="comshugyoshu_kbn" jdbcType="CHAR" property="comshugyoshuKbn" />
    <result column="comgyoshu1_kbn" jdbcType="CHAR" property="comgyoshu1Kbn" />
    <result column="comgyoshu2_kbn" jdbcType="CHAR" property="comgyoshu2Kbn" />
    <result column="comgyoshu3_kbn" jdbcType="CHAR" property="comgyoshu3Kbn" />
    <result column="comtenkaku_kbn" jdbcType="SMALLINT" property="comtenkakuKbn" />
    <result column="comdonyuten_kbn" jdbcType="CHAR" property="comdonyutenKbn" />
    <result column="comtennm1_knj" jdbcType="VARCHAR" property="comtennm1Knj" />
    <result column="comtennm2_knj" jdbcType="VARCHAR" property="comtennm2Knj" />
    <result column="comtennm2_kna" jdbcType="VARCHAR" property="comtennm2Kna" />
    <result column="comtennm1_eng" jdbcType="VARCHAR" property="comtennm1Eng" />
    <result column="comtennm2_eng" jdbcType="VARCHAR" property="comtennm2Eng" />
    <result column="comtenrnm_knj" jdbcType="VARCHAR" property="comtenrnmKnj" />
    <result column="comtenken_jis" jdbcType="CHAR" property="comtenkenJis" />
    <result column="comtenshiku_jis" jdbcType="CHAR" property="comtenshikuJis" />
    <result column="comtenhojo_jis" jdbcType="CHAR" property="comtenhojoJis" />
    <result column="comtenchome_jis" jdbcType="CHAR" property="comtenchomeJis" />
    <result column="comtenadrban_num" jdbcType="INTEGER" property="comtenadrbanNum" />
    <result column="comtenadrgo_num" jdbcType="INTEGER" property="comtenadrgoNum" />
    <result column="comtenadr_eng" jdbcType="VARCHAR" property="comtenadrEng" />
    <result column="comtenbldgnm_kna" jdbcType="VARCHAR" property="comtenbldgnmKna" />
    <result column="comtenbldgnm_knj" jdbcType="VARCHAR" property="comtenbldgnmKnj" />
    <result column="comtenbldgnm_eng" jdbcType="VARCHAR" property="comtenbldgnmEng" />
    <result column="com_zip" jdbcType="VARCHAR" property="comZip" />
    <result column="comgaisen_tel" jdbcType="VARCHAR" property="comgaisenTel" />
    <result column="comrenraku_tel" jdbcType="VARCHAR" property="comrenrakuTel" />
    <result column="comgaisen_fax" jdbcType="VARCHAR" property="comgaisenFax" />
    <result column="comnaisen_tel" jdbcType="VARCHAR" property="comnaisenTel" />
    <result column="comnaisen_fax" jdbcType="VARCHAR" property="comnaisenFax" />
    <result column="combumon_mal" jdbcType="VARCHAR" property="combumonMal" />
    <result column="comgyosha_cod" jdbcType="CHAR" property="comgyoshaCod" />
    <result column="comknsmoji_kna" jdbcType="VARCHAR" property="comknsmojiKna" />
    <result column="comkensaku_tel" jdbcType="VARCHAR" property="comkensakuTel" />
    <result column="comyobi_kbn" jdbcType="CHAR" property="comyobiKbn" />
    <result column="comtekiyoend_ymd" jdbcType="DATE" property="comtekiyoendYmd" />
    <result column="comcrt_ymd" jdbcType="DATE" property="comcrtYmd" />
    <result column="comcrtshain_cod" jdbcType="CHAR" property="comcrtshainCod" />
    <result column="comupd_ymd" jdbcType="DATE" property="comupdYmd" />
    <result column="comupdshain_cod" jdbcType="CHAR" property="comupdshainCod" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Sep 15 15:33:22 JST 2022.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Sep 15 15:33:22 JST 2022.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    comtennm1_kna, comtekiyostr_ymd, comten_cod, comnaigai_kbn, comshugyoshu_kbn, comgyoshu1_kbn, 
    comgyoshu2_kbn, comgyoshu3_kbn, comtenkaku_kbn, comdonyuten_kbn, comtennm1_knj, comtennm2_knj, 
    comtennm2_kna, comtennm1_eng, comtennm2_eng, comtenrnm_knj, comtenken_jis, comtenshiku_jis, 
    comtenhojo_jis, comtenchome_jis, comtenadrban_num, comtenadrgo_num, comtenadr_eng, 
    comtenbldgnm_kna, comtenbldgnm_knj, comtenbldgnm_eng, com_zip, comgaisen_tel, comrenraku_tel, 
    comgaisen_fax, comnaisen_tel, comnaisen_fax, combumon_mal, comgyosha_cod, comknsmoji_kna, 
    comkensaku_tel, comyobi_kbn, comtekiyoend_ymd, comcrt_ymd, comcrtshain_cod, comupd_ymd, 
    comupdshain_cod
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tmmtensho
    where comtennm1_kna = #{comtennm1Kna,jdbcType=VARCHAR}
      and comtekiyostr_ymd = #{comtekiyostrYmd,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from tmmtensho
    where comtennm1_kna = #{comtennm1Kna,jdbcType=VARCHAR}
      and comtekiyostr_ymd = #{comtekiyostrYmd,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.wetech.ryutsumodel.model.entity.Tmmtensho">
    <!--@mbg.generated-->
    insert into tmmtensho (comtennm1_kna, comtekiyostr_ymd, comten_cod, 
      comnaigai_kbn, comshugyoshu_kbn, comgyoshu1_kbn, 
      comgyoshu2_kbn, comgyoshu3_kbn, comtenkaku_kbn, 
      comdonyuten_kbn, comtennm1_knj, comtennm2_knj, 
      comtennm2_kna, comtennm1_eng, comtennm2_eng, 
      comtenrnm_knj, comtenken_jis, comtenshiku_jis, 
      comtenhojo_jis, comtenchome_jis, comtenadrban_num, 
      comtenadrgo_num, comtenadr_eng, comtenbldgnm_kna, 
      comtenbldgnm_knj, comtenbldgnm_eng, com_zip, 
      comgaisen_tel, comrenraku_tel, comgaisen_fax, 
      comnaisen_tel, comnaisen_fax, combumon_mal, 
      comgyosha_cod, comknsmoji_kna, comkensaku_tel, 
      comyobi_kbn, comtekiyoend_ymd, comcrt_ymd, 
      comcrtshain_cod, comupd_ymd, comupdshain_cod
      )
    values (#{comtennm1Kna,jdbcType=VARCHAR}, #{comtekiyostrYmd,jdbcType=DATE}, #{comtenCod,jdbcType=CHAR}, 
      #{comnaigaiKbn,jdbcType=SMALLINT}, #{comshugyoshuKbn,jdbcType=CHAR}, #{comgyoshu1Kbn,jdbcType=CHAR}, 
      #{comgyoshu2Kbn,jdbcType=CHAR}, #{comgyoshu3Kbn,jdbcType=CHAR}, #{comtenkakuKbn,jdbcType=SMALLINT}, 
      #{comdonyutenKbn,jdbcType=CHAR}, #{comtennm1Knj,jdbcType=VARCHAR}, #{comtennm2Knj,jdbcType=VARCHAR}, 
      #{comtennm2Kna,jdbcType=VARCHAR}, #{comtennm1Eng,jdbcType=VARCHAR}, #{comtennm2Eng,jdbcType=VARCHAR}, 
      #{comtenrnmKnj,jdbcType=VARCHAR}, #{comtenkenJis,jdbcType=CHAR}, #{comtenshikuJis,jdbcType=CHAR}, 
      #{comtenhojoJis,jdbcType=CHAR}, #{comtenchomeJis,jdbcType=CHAR}, #{comtenadrbanNum,jdbcType=INTEGER}, 
      #{comtenadrgoNum,jdbcType=INTEGER}, #{comtenadrEng,jdbcType=VARCHAR}, #{comtenbldgnmKna,jdbcType=VARCHAR}, 
      #{comtenbldgnmKnj,jdbcType=VARCHAR}, #{comtenbldgnmEng,jdbcType=VARCHAR}, #{comZip,jdbcType=VARCHAR}, 
      #{comgaisenTel,jdbcType=VARCHAR}, #{comrenrakuTel,jdbcType=VARCHAR}, #{comgaisenFax,jdbcType=VARCHAR}, 
      #{comnaisenTel,jdbcType=VARCHAR}, #{comnaisenFax,jdbcType=VARCHAR}, #{combumonMal,jdbcType=VARCHAR}, 
      #{comgyoshaCod,jdbcType=CHAR}, #{comknsmojiKna,jdbcType=VARCHAR}, #{comkensakuTel,jdbcType=VARCHAR}, 
      #{comyobiKbn,jdbcType=CHAR}, #{comtekiyoendYmd,jdbcType=DATE}, #{comcrtYmd,jdbcType=DATE}, 
      #{comcrtshainCod,jdbcType=CHAR}, #{comupdYmd,jdbcType=DATE}, #{comupdshainCod,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wetech.ryutsumodel.model.entity.Tmmtensho">
    <!--@mbg.generated-->
    insert into tmmtensho
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comtennm1Kna != null">
        comtennm1_kna,
      </if>
      <if test="comtekiyostrYmd != null">
        comtekiyostr_ymd,
      </if>
      <if test="comtenCod != null">
        comten_cod,
      </if>
      <if test="comnaigaiKbn != null">
        comnaigai_kbn,
      </if>
      <if test="comshugyoshuKbn != null">
        comshugyoshu_kbn,
      </if>
      <if test="comgyoshu1Kbn != null">
        comgyoshu1_kbn,
      </if>
      <if test="comgyoshu2Kbn != null">
        comgyoshu2_kbn,
      </if>
      <if test="comgyoshu3Kbn != null">
        comgyoshu3_kbn,
      </if>
      <if test="comtenkakuKbn != null">
        comtenkaku_kbn,
      </if>
      <if test="comdonyutenKbn != null">
        comdonyuten_kbn,
      </if>
      <if test="comtennm1Knj != null">
        comtennm1_knj,
      </if>
      <if test="comtennm2Knj != null">
        comtennm2_knj,
      </if>
      <if test="comtennm2Kna != null">
        comtennm2_kna,
      </if>
      <if test="comtennm1Eng != null">
        comtennm1_eng,
      </if>
      <if test="comtennm2Eng != null">
        comtennm2_eng,
      </if>
      <if test="comtenrnmKnj != null">
        comtenrnm_knj,
      </if>
      <if test="comtenkenJis != null">
        comtenken_jis,
      </if>
      <if test="comtenshikuJis != null">
        comtenshiku_jis,
      </if>
      <if test="comtenhojoJis != null">
        comtenhojo_jis,
      </if>
      <if test="comtenchomeJis != null">
        comtenchome_jis,
      </if>
      <if test="comtenadrbanNum != null">
        comtenadrban_num,
      </if>
      <if test="comtenadrgoNum != null">
        comtenadrgo_num,
      </if>
      <if test="comtenadrEng != null">
        comtenadr_eng,
      </if>
      <if test="comtenbldgnmKna != null">
        comtenbldgnm_kna,
      </if>
      <if test="comtenbldgnmKnj != null">
        comtenbldgnm_knj,
      </if>
      <if test="comtenbldgnmEng != null">
        comtenbldgnm_eng,
      </if>
      <if test="comZip != null">
        com_zip,
      </if>
      <if test="comgaisenTel != null">
        comgaisen_tel,
      </if>
      <if test="comrenrakuTel != null">
        comrenraku_tel,
      </if>
      <if test="comgaisenFax != null">
        comgaisen_fax,
      </if>
      <if test="comnaisenTel != null">
        comnaisen_tel,
      </if>
      <if test="comnaisenFax != null">
        comnaisen_fax,
      </if>
      <if test="combumonMal != null">
        combumon_mal,
      </if>
      <if test="comgyoshaCod != null">
        comgyosha_cod,
      </if>
      <if test="comknsmojiKna != null">
        comknsmoji_kna,
      </if>
      <if test="comkensakuTel != null">
        comkensaku_tel,
      </if>
      <if test="comyobiKbn != null">
        comyobi_kbn,
      </if>
      <if test="comtekiyoendYmd != null">
        comtekiyoend_ymd,
      </if>
      <if test="comcrtYmd != null">
        comcrt_ymd,
      </if>
      <if test="comcrtshainCod != null">
        comcrtshain_cod,
      </if>
      <if test="comupdYmd != null">
        comupd_ymd,
      </if>
      <if test="comupdshainCod != null">
        comupdshain_cod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comtennm1Kna != null">
        #{comtennm1Kna,jdbcType=VARCHAR},
      </if>
      <if test="comtekiyostrYmd != null">
        #{comtekiyostrYmd,jdbcType=DATE},
      </if>
      <if test="comtenCod != null">
        #{comtenCod,jdbcType=CHAR},
      </if>
      <if test="comnaigaiKbn != null">
        #{comnaigaiKbn,jdbcType=SMALLINT},
      </if>
      <if test="comshugyoshuKbn != null">
        #{comshugyoshuKbn,jdbcType=CHAR},
      </if>
      <if test="comgyoshu1Kbn != null">
        #{comgyoshu1Kbn,jdbcType=CHAR},
      </if>
      <if test="comgyoshu2Kbn != null">
        #{comgyoshu2Kbn,jdbcType=CHAR},
      </if>
      <if test="comgyoshu3Kbn != null">
        #{comgyoshu3Kbn,jdbcType=CHAR},
      </if>
      <if test="comtenkakuKbn != null">
        #{comtenkakuKbn,jdbcType=SMALLINT},
      </if>
      <if test="comdonyutenKbn != null">
        #{comdonyutenKbn,jdbcType=CHAR},
      </if>
      <if test="comtennm1Knj != null">
        #{comtennm1Knj,jdbcType=VARCHAR},
      </if>
      <if test="comtennm2Knj != null">
        #{comtennm2Knj,jdbcType=VARCHAR},
      </if>
      <if test="comtennm2Kna != null">
        #{comtennm2Kna,jdbcType=VARCHAR},
      </if>
      <if test="comtennm1Eng != null">
        #{comtennm1Eng,jdbcType=VARCHAR},
      </if>
      <if test="comtennm2Eng != null">
        #{comtennm2Eng,jdbcType=VARCHAR},
      </if>
      <if test="comtenrnmKnj != null">
        #{comtenrnmKnj,jdbcType=VARCHAR},
      </if>
      <if test="comtenkenJis != null">
        #{comtenkenJis,jdbcType=CHAR},
      </if>
      <if test="comtenshikuJis != null">
        #{comtenshikuJis,jdbcType=CHAR},
      </if>
      <if test="comtenhojoJis != null">
        #{comtenhojoJis,jdbcType=CHAR},
      </if>
      <if test="comtenchomeJis != null">
        #{comtenchomeJis,jdbcType=CHAR},
      </if>
      <if test="comtenadrbanNum != null">
        #{comtenadrbanNum,jdbcType=INTEGER},
      </if>
      <if test="comtenadrgoNum != null">
        #{comtenadrgoNum,jdbcType=INTEGER},
      </if>
      <if test="comtenadrEng != null">
        #{comtenadrEng,jdbcType=VARCHAR},
      </if>
      <if test="comtenbldgnmKna != null">
        #{comtenbldgnmKna,jdbcType=VARCHAR},
      </if>
      <if test="comtenbldgnmKnj != null">
        #{comtenbldgnmKnj,jdbcType=VARCHAR},
      </if>
      <if test="comtenbldgnmEng != null">
        #{comtenbldgnmEng,jdbcType=VARCHAR},
      </if>
      <if test="comZip != null">
        #{comZip,jdbcType=VARCHAR},
      </if>
      <if test="comgaisenTel != null">
        #{comgaisenTel,jdbcType=VARCHAR},
      </if>
      <if test="comrenrakuTel != null">
        #{comrenrakuTel,jdbcType=VARCHAR},
      </if>
      <if test="comgaisenFax != null">
        #{comgaisenFax,jdbcType=VARCHAR},
      </if>
      <if test="comnaisenTel != null">
        #{comnaisenTel,jdbcType=VARCHAR},
      </if>
      <if test="comnaisenFax != null">
        #{comnaisenFax,jdbcType=VARCHAR},
      </if>
      <if test="combumonMal != null">
        #{combumonMal,jdbcType=VARCHAR},
      </if>
      <if test="comgyoshaCod != null">
        #{comgyoshaCod,jdbcType=CHAR},
      </if>
      <if test="comknsmojiKna != null">
        #{comknsmojiKna,jdbcType=VARCHAR},
      </if>
      <if test="comkensakuTel != null">
        #{comkensakuTel,jdbcType=VARCHAR},
      </if>
      <if test="comyobiKbn != null">
        #{comyobiKbn,jdbcType=CHAR},
      </if>
      <if test="comtekiyoendYmd != null">
        #{comtekiyoendYmd,jdbcType=DATE},
      </if>
      <if test="comcrtYmd != null">
        #{comcrtYmd,jdbcType=DATE},
      </if>
      <if test="comcrtshainCod != null">
        #{comcrtshainCod,jdbcType=CHAR},
      </if>
      <if test="comupdYmd != null">
        #{comupdYmd,jdbcType=DATE},
      </if>
      <if test="comupdshainCod != null">
        #{comupdshainCod,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wetech.ryutsumodel.model.entity.Tmmtensho">
    <!--@mbg.generated-->
    update tmmtensho
    <set>
      <if test="comtenCod != null">
        comten_cod = #{comtenCod,jdbcType=CHAR},
      </if>
      <if test="comnaigaiKbn != null">
        comnaigai_kbn = #{comnaigaiKbn,jdbcType=SMALLINT},
      </if>
      <if test="comshugyoshuKbn != null">
        comshugyoshu_kbn = #{comshugyoshuKbn,jdbcType=CHAR},
      </if>
      <if test="comgyoshu1Kbn != null">
        comgyoshu1_kbn = #{comgyoshu1Kbn,jdbcType=CHAR},
      </if>
      <if test="comgyoshu2Kbn != null">
        comgyoshu2_kbn = #{comgyoshu2Kbn,jdbcType=CHAR},
      </if>
      <if test="comgyoshu3Kbn != null">
        comgyoshu3_kbn = #{comgyoshu3Kbn,jdbcType=CHAR},
      </if>
      <if test="comtenkakuKbn != null">
        comtenkaku_kbn = #{comtenkakuKbn,jdbcType=SMALLINT},
      </if>
      <if test="comdonyutenKbn != null">
        comdonyuten_kbn = #{comdonyutenKbn,jdbcType=CHAR},
      </if>
      <if test="comtennm1Knj != null">
        comtennm1_knj = #{comtennm1Knj,jdbcType=VARCHAR},
      </if>
      <if test="comtennm2Knj != null">
        comtennm2_knj = #{comtennm2Knj,jdbcType=VARCHAR},
      </if>
      <if test="comtennm2Kna != null">
        comtennm2_kna = #{comtennm2Kna,jdbcType=VARCHAR},
      </if>
      <if test="comtennm1Eng != null">
        comtennm1_eng = #{comtennm1Eng,jdbcType=VARCHAR},
      </if>
      <if test="comtennm2Eng != null">
        comtennm2_eng = #{comtennm2Eng,jdbcType=VARCHAR},
      </if>
      <if test="comtenrnmKnj != null">
        comtenrnm_knj = #{comtenrnmKnj,jdbcType=VARCHAR},
      </if>
      <if test="comtenkenJis != null">
        comtenken_jis = #{comtenkenJis,jdbcType=CHAR},
      </if>
      <if test="comtenshikuJis != null">
        comtenshiku_jis = #{comtenshikuJis,jdbcType=CHAR},
      </if>
      <if test="comtenhojoJis != null">
        comtenhojo_jis = #{comtenhojoJis,jdbcType=CHAR},
      </if>
      <if test="comtenchomeJis != null">
        comtenchome_jis = #{comtenchomeJis,jdbcType=CHAR},
      </if>
      <if test="comtenadrbanNum != null">
        comtenadrban_num = #{comtenadrbanNum,jdbcType=INTEGER},
      </if>
      <if test="comtenadrgoNum != null">
        comtenadrgo_num = #{comtenadrgoNum,jdbcType=INTEGER},
      </if>
      <if test="comtenadrEng != null">
        comtenadr_eng = #{comtenadrEng,jdbcType=VARCHAR},
      </if>
      <if test="comtenbldgnmKna != null">
        comtenbldgnm_kna = #{comtenbldgnmKna,jdbcType=VARCHAR},
      </if>
      <if test="comtenbldgnmKnj != null">
        comtenbldgnm_knj = #{comtenbldgnmKnj,jdbcType=VARCHAR},
      </if>
      <if test="comtenbldgnmEng != null">
        comtenbldgnm_eng = #{comtenbldgnmEng,jdbcType=VARCHAR},
      </if>
      <if test="comZip != null">
        com_zip = #{comZip,jdbcType=VARCHAR},
      </if>
      <if test="comgaisenTel != null">
        comgaisen_tel = #{comgaisenTel,jdbcType=VARCHAR},
      </if>
      <if test="comrenrakuTel != null">
        comrenraku_tel = #{comrenrakuTel,jdbcType=VARCHAR},
      </if>
      <if test="comgaisenFax != null">
        comgaisen_fax = #{comgaisenFax,jdbcType=VARCHAR},
      </if>
      <if test="comnaisenTel != null">
        comnaisen_tel = #{comnaisenTel,jdbcType=VARCHAR},
      </if>
      <if test="comnaisenFax != null">
        comnaisen_fax = #{comnaisenFax,jdbcType=VARCHAR},
      </if>
      <if test="combumonMal != null">
        combumon_mal = #{combumonMal,jdbcType=VARCHAR},
      </if>
      <if test="comgyoshaCod != null">
        comgyosha_cod = #{comgyoshaCod,jdbcType=CHAR},
      </if>
      <if test="comknsmojiKna != null">
        comknsmoji_kna = #{comknsmojiKna,jdbcType=VARCHAR},
      </if>
      <if test="comkensakuTel != null">
        comkensaku_tel = #{comkensakuTel,jdbcType=VARCHAR},
      </if>
      <if test="comyobiKbn != null">
        comyobi_kbn = #{comyobiKbn,jdbcType=CHAR},
      </if>
      <if test="comtekiyoendYmd != null">
        comtekiyoend_ymd = #{comtekiyoendYmd,jdbcType=DATE},
      </if>
      <if test="comcrtYmd != null">
        comcrt_ymd = #{comcrtYmd,jdbcType=DATE},
      </if>
      <if test="comcrtshainCod != null">
        comcrtshain_cod = #{comcrtshainCod,jdbcType=CHAR},
      </if>
      <if test="comupdYmd != null">
        comupd_ymd = #{comupdYmd,jdbcType=DATE},
      </if>
      <if test="comupdshainCod != null">
        comupdshain_cod = #{comupdshainCod,jdbcType=CHAR},
      </if>
    </set>
    where comtennm1_kna = #{comtennm1Kna,jdbcType=VARCHAR}
      and comtekiyostr_ymd = #{comtekiyostrYmd,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wetech.ryutsumodel.model.entity.Tmmtensho">
    <!--@mbg.generated-->
    update tmmtensho
    set comten_cod = #{comtenCod,jdbcType=CHAR},
      comnaigai_kbn = #{comnaigaiKbn,jdbcType=SMALLINT},
      comshugyoshu_kbn = #{comshugyoshuKbn,jdbcType=CHAR},
      comgyoshu1_kbn = #{comgyoshu1Kbn,jdbcType=CHAR},
      comgyoshu2_kbn = #{comgyoshu2Kbn,jdbcType=CHAR},
      comgyoshu3_kbn = #{comgyoshu3Kbn,jdbcType=CHAR},
      comtenkaku_kbn = #{comtenkakuKbn,jdbcType=SMALLINT},
      comdonyuten_kbn = #{comdonyutenKbn,jdbcType=CHAR},
      comtennm1_knj = #{comtennm1Knj,jdbcType=VARCHAR},
      comtennm2_knj = #{comtennm2Knj,jdbcType=VARCHAR},
      comtennm2_kna = #{comtennm2Kna,jdbcType=VARCHAR},
      comtennm1_eng = #{comtennm1Eng,jdbcType=VARCHAR},
      comtennm2_eng = #{comtennm2Eng,jdbcType=VARCHAR},
      comtenrnm_knj = #{comtenrnmKnj,jdbcType=VARCHAR},
      comtenken_jis = #{comtenkenJis,jdbcType=CHAR},
      comtenshiku_jis = #{comtenshikuJis,jdbcType=CHAR},
      comtenhojo_jis = #{comtenhojoJis,jdbcType=CHAR},
      comtenchome_jis = #{comtenchomeJis,jdbcType=CHAR},
      comtenadrban_num = #{comtenadrbanNum,jdbcType=INTEGER},
      comtenadrgo_num = #{comtenadrgoNum,jdbcType=INTEGER},
      comtenadr_eng = #{comtenadrEng,jdbcType=VARCHAR},
      comtenbldgnm_kna = #{comtenbldgnmKna,jdbcType=VARCHAR},
      comtenbldgnm_knj = #{comtenbldgnmKnj,jdbcType=VARCHAR},
      comtenbldgnm_eng = #{comtenbldgnmEng,jdbcType=VARCHAR},
      com_zip = #{comZip,jdbcType=VARCHAR},
      comgaisen_tel = #{comgaisenTel,jdbcType=VARCHAR},
      comrenraku_tel = #{comrenrakuTel,jdbcType=VARCHAR},
      comgaisen_fax = #{comgaisenFax,jdbcType=VARCHAR},
      comnaisen_tel = #{comnaisenTel,jdbcType=VARCHAR},
      comnaisen_fax = #{comnaisenFax,jdbcType=VARCHAR},
      combumon_mal = #{combumonMal,jdbcType=VARCHAR},
      comgyosha_cod = #{comgyoshaCod,jdbcType=CHAR},
      comknsmoji_kna = #{comknsmojiKna,jdbcType=VARCHAR},
      comkensaku_tel = #{comkensakuTel,jdbcType=VARCHAR},
      comyobi_kbn = #{comyobiKbn,jdbcType=CHAR},
      comtekiyoend_ymd = #{comtekiyoendYmd,jdbcType=DATE},
      comcrt_ymd = #{comcrtYmd,jdbcType=DATE},
      comcrtshain_cod = #{comcrtshainCod,jdbcType=CHAR},
      comupd_ymd = #{comupdYmd,jdbcType=DATE},
      comupdshain_cod = #{comupdshainCod,jdbcType=CHAR}
    where comtennm1_kna = #{comtennm1Kna,jdbcType=VARCHAR}
      and comtekiyostr_ymd = #{comtekiyostrYmd,jdbcType=DATE}
  </update>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wetech.ryutsumodel.model.entity.TmmtenshoExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tmmtensho
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    </select>
</mapper>